@import "./styles/theme.css";

html,
body {
  font-family: var(--font-family-base);
}

.content-container {
  margin: 32px 24px;
}

.enroll-button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  background-color: var(--color-primary-60);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: var(--font-heading-medium-size);
  line-height: var(--font-heading-medium-line-height);
  font-weight: var(--font-heading-medium-weight);
  text-align: center;
}

.enroll-button:hover:enabled {
  background-color: var(--color-primary-40);
}

.enroll-button:focus {
  outline: none;
  box-shadow: none;
}